.menu-page {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}

.body {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  background-image: url("https://blue-bottle-cms.global.ssl.fastly.net/hbhhv9rz9/image/upload/v1612481199/esygdxurkndp2rs3aqap.jpg");
  align-items: center;
  justify-content: center;
}

.cta {
  padding: 40px;
  font-size: 16px;
  background-color: white;
  border: none;
}

/*-----Transitions-----*/
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
